/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #222831;
  z-index: 2;
  position: fixed;
  /* overflow: auto; */
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}
/* navbar with right items */
.navbar a.right {
  float: right;
  /* text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px; */
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #4caf50;
}

/* Current/active navbar link */
.navbar a.active {
  background-color: #4caf50;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
/* @media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
} */
/* for dropdown*/
.dropdown {
  float: right;
  overflow: hidden;
  display: none;
  margin-right: 30px;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 12px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a.right {
  float: none;
  /* color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left; */
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 800px) {
  .dropdown {
    display: block;
  }
  .tohide {
    display: none;
  }
}
