/* .home .leftside {
  height: 90vh;
  width: 55vw;
  overflow: auto;
  border: 2px solid white;
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  max-width: 700px;
}
.home {
  display: flex;
}
.rightside {
  padding-left: 200px;
}
.wrapper {
  border: 2px solid black;
  width: 90%;
  background-color: white;
  text-align: left;
  padding: 5px 5px 5px 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.wrapper .image {
  display: inline-block;
  text-align: left;
  padding-left: 4px;

  vertical-align: middle;
}
.wrapper .discription {
  border: 2px solid rgb(94, 42, 42);
  display: inline-block;
  border-radius: 5px;
  min-width: 70%;
  text-align: center;
  margin: 0px auto 0px auto;
  height: 100px;

  vertical-align: middle;
  margin: auto;
}
.wrapper img {
  border-radius: 5px;
  margin-right: 4px;
}
.wrapper h3 {
  font-size: 40px;
  margin: 2px;
  text-align: center;
} */
/* .wrapperlarge {
    border: 2px solid black;
    width: 50vw;
    background-color: white;
    text-align: left;
    padding: 5px 5px 5px 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
} */
/* .wrapper[large="1"] {
  animation: wobble 0.5s 1;
  color: rgba(0, 0, 0, 0);
  animation-timing-function: ease-in;
  color: black;
  height: auto;
}

@keyframes wobble {
  0% {
    transform: rotate(15deg);
    max-height: 200px;
    color: rgba(0, 0, 0, 0);
  }
  100% {
    transform: rotate(0deg);
    max-height: 800px;
  }
} */

.home {
    display: flex;
    flex-wrap: wrap;
    padding-top: 3rem;
}

.home .header {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.home .leftside {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1237px;
    width: 80vw;
}

.home .wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 92%;
    margin: auto;
}
.home .time-table {
    width: 18%;
    /* margin: auto; */
    /* margin-top: 3rem; */
    /* margin-bottom: 0;
    margin-right: 0; */
    background-color: #393e46;
    color: white;
    border-radius: 1.5rem;
    padding: 1.25rem;
    box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.32);
    height: 210px;
    overflow: scroll;
    font-size: 0.9rem;
    min-width: 200px;
    margin: auto;
    margin-top: 3rem;
    transition: 1s ease-in-out;
}
.home .wrapper-small {
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    background-color: #00adb5;
    width: 67%;
    padding: 2.75rem;
    border-radius: 1.5rem;
    height: 210px;
    overflow-x: auto;
    box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.32);
    cursor: pointer;
    min-width: 280px;
    transition: 1s ease-in-out;
}
.home .image-small {
    height: 100%;
    width: 33%;
    /* min-width: 200px; */
}
.wrapper-small .discription-small {
    width: 67%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-small img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
}
.discription-small {
    box-sizing: border-box;
    padding-left: 25px;
}
.discription-small .date-time {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.discription-small h3 {
    margin: 0;
    text-align: center;
}
.discription-small .short-info {
    text-align: center;
    overflow: hidden;
}
.discription-small * {
    padding-top: 2px;
    padding-bottom: 8px;
}
.discription-small .event-name {
    font-weight: bold;
    font-style: italic;
    font-size: 1.2rem;
}
.wrapper-small .event-date {
    min-width: 30px;
}
.wrapper-small .start-time {
    min-width: 30px;
}
.wrapper-small .end-time {
    min-width: 30px;
}
.wrapper-large .event-date {
    min-width: 100px;
}
.wrapper-large .start-time {
    min-width: 100px;
}
.wrapper-large .end-time {
    min-width: 100px;
}
.discription-small .venue {
    font-style: italic;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}
.discription-small .date-time {
    font-weight: 600;
    font-style: italic;
    font-size: 1rem;
    flex-wrap: wrap;
}
.discription-small .short-info {
    font-size: 1rem;
    text-align: center;
}

/* styles for large tiles */
.home .wrapper-large {
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    background-color: #00adb5;
    width: 90%;
    padding: 2.75rem;
    padding-bottom: 10px;
    border-radius: 1.5rem;
    /* height: calc(auto - 100px); */
    height: 550px;
    box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.32);
    /* cursor: pointer; */
    overflow: scroll;
    transition: 1s ease-in-out;
}
.wrapper-large .image-large {
    height: 100%;
    width: 35%;
}
.wrapper-large .discription-large {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    position: relative;
}
.image-large img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
}

.discription-large {
    box-sizing: border-box;
    padding-left: 25px;
}
.discription-large .date-time {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: space-around;
}
.discription-large h3 {
    margin: 0;
    text-align: center;
}
.discription-large .short-info {
    text-align: center;
    overflow: hidden;
}
.discription-large * {
    padding-top: 4px;
    padding-bottom: 12px;
}
.discription-large .event-name {
    font-weight: bold;
    font-style: italic;
    font-size: 2rem;
}
.discription-large .venue {
    font-style: italic;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}
.discription-large .date-time {
    font-weight: 600;
    font-style: italic;
    font-size: 1.4rem;
}
.wrapper-large .large-info {
    padding: 0 0 0 0;
    font-size: 1.1rem;
    width: 100%;
    margin: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.home .rightside {
    /* margin-top: 3rem; */
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #dfd5cb;
    /* background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9); */
    overflow-x: hidden;
    transition: 0.5s;
}
/* .rightside {
    margin: 2rem;
     display: none;
    position: absolute;
    float: left;
} */

.rightside .search-field {
    width: 100%;

    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 1rem;
    box-shadow: 3px 3px 1 5px 3px rgba(0, 0, 0, 0.32);
}
.rightside .submit-button {
    font-size: 1rem;
    padding: 12px;
    text-transform: capitalize;
    background-color: #4caf50;
    color: white;
    width: 30%;
    min-width: 0px;
    border: 0px solid #ccc;
    box-shadow: 0 3px 6px rgba(27, 169, 76, 0.5);
}
.home .home-right-form {
    display: flex;
    margin: auto;
    width: 80%;
    margin-top: 6rem;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.home .togglebutton1 {
    cursor: pointer;
    height: 20px;
    position: fixed;
    top: 50px;
    right: 30px;
    font-size: 2rem;
    z-index: 1;
    color: black;
    padding: 3px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.home .togglebutton2 {
    cursor: pointer;
    position: absolute;
    font-size: 2rem;
    /* background-color: #393e46; */
    color: black;
    padding: 3px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    top: 3rem;
    left: 0px;
}
.home .rightrow {
    margin: auto;
    margin-top: 30px;
    text-align: center;
}
.home .userarray {
    border-radius: 2px;
    width: 60%;
    cursor: pointer;
    text-align: center;
    padding: 2px 2px 2px 2px;
    background: #222831;
    margin: 6px auto;
    min-width: 200px;
    padding: 12px;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
    font-weight: 600;
    font-style: italic;
    font-size: 1.25rem;
    overflow: hidden;
}
.home .visible {
    width: 310px;
}
.home .hidden {
    width: 0px;
}

/* media queries */

@media screen and (max-width: 1400px) {
    .home .visible {
        width: 0px;
    }
    .home .hidden {
        width: 300px;
    }
    .home .leftside {
        width: 100vw;
    }
}
@media screen and (max-width: 700px) {
    .home .header {
        flex-direction: column;
        display: block;
    }
    .wrapper-large {
        /* flex-direction: column; */
        width: 90%;
    }
    .wrapper-large .image-large {
        width: 100%;
        height: 50vmin;
    }
    .wrapper-large .discription-large {
        width: 100%;
    }
}
@media screen and (max-width: 1150px) {
    /* .leftside {
        width: 100%;
    } */
    .home .time-table {
        display: none;
    }
}
@media screen and (max-width: 900px) {
    .home .wrapper-small {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .image-small img {
        max-height: 50%;
    }
    .home .wrapper-large {
        padding: 1.75rem;
    }
    .home .wrapper-small {
        padding: 1.75rem;
    }
    /* .wrapper-large {
        flex-direction: column;
        width: 90%;
    }
    .wrapper-large .image-large {
        width: 100%;
        height: 50vmin;
    }
    .wrapper-large .discription-large {
        width: 100%;
    } */
}
.home .tablink {
    /* background-color: #555; */
    /* color: white;
    color: black;
    border-radius: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 120px;
    min-width: 30px; */
    font-size: 1rem;
    padding: 12px;
    text-transform: capitalize;
    background-color: #4caf50;
    color: white;
    width: 120px;
    min-width: 0px;
    border: 0px solid #ccc;
    box-shadow: 0 3px 6px rgba(27, 169, 76, 0.5);
}
.home .contentbox {
    height: 500px;
    overflow-y: scroll;
}
