/* Style all input fields */
.div1-login {
    display: flex;
    /* overflow: hidden; */
}
.Login {
    height: 100%;
    max-width: 500px;
    width: 40%;
    margin: auto;
    margin-top: 20%;
}
@media screen and (max-width: 1200px) {
    .div1-login {
        display: block;
    }
    .Login {
        width: 80%;
    }
    .Login.right {
        margin-top: 0px;
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .Login {
        width: 100%;
    }
}
.Login input {
    width: 70%;
    height: 100%;
    padding: 12px;
    margin-left: 3%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 30px;
}

/* Style the submit button */
.Login input[type="submit"] {
    background-color: #4caf50;
    color: white;
    width: 20%;
    min-width: 200px;
    border: 0px solid #ccc;
}
.Login input:focus {
    outline: none;
}

.Login.right {
    /* border: 2px solid red; */
    font-style: italic;
    font-size: larger;
    font-family: monospace;
    color: whitesmoke;
    text-align: left;
    padding-left: 2%;
    /* max-width: 10000px; */

    /* margin: auto; */
    /* margin-top: 20%; */
}
